#slider-container {
    width: 100%;
    overflow: hidden;
}

#slider {
    display: flex;
    transition: transform 0.3s ease-out;
}

#slider > * {
    flex-shrink: 0;
    width: 100%;
    height: 80vh;
    object-fit: cover;
}
